// General settings
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
outline: none;
border: none;
}
body{
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}
main{
    width:80%;
    margin: auto;
}

// TOP SECTION
#top{
    background-image: url(../img/Teaser-Front.jpg);
    background-size: cover;
    color: white;
    margin: 2rem 0;
    padding: 4rem 2rem 10rem 2rem;

    article{
        position: relative;
        width: 50%;

        h2{
            font-size: 3rem;
        }
        p{
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        a{
            position: absolute;
            bottom: -35%;
            right: 5%;
            color: white;
            text-decoration: underline;
        }
    }
}

// MIDDLE SECTION
#middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;

    #who{
        background-color: rgb(115, 207, 238);

        p, h2{
            color: white;
            margin-bottom: 1rem;
            padding: 0 2rem;
            font-size: 1.5rem;
        }
        h2{
            margin-top: 2rem;
            font-size: 3rem;
        }
    }

    section{
        display: grid;
        grid-template-columns: 1fr;

        div{
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 0.5rem;
            align-items: center;
            margin: 0.5rem 0;

            img{
                width: 100%;
                padding: 0 1rem;
            }
        }
    }
}


/////////////////////////////////////////////////////////////////////
////
////                    MEDIA QUERIES
////
///////////////////////////////////////////////////////////////////////
