// GENERAL SETTINGS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
outline: none;
border: none;
}
body{
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

// NAVBAR
nav{
    position: relative;
    width:100%;
    background-color:rgb(107, 107, 107);
    display: flex;
    padding: 1rem;

    img{
        margin-left: 10%;
        width: 20%;
    }
    ul{
        margin-left: auto;
        margin-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    li a{
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 300;
        padding: 1rem 0.5rem;
        margin-left: 1rem;
        transition: all 400ms ease-in-out;
    }
    li a:hover{
        background-color: darkgrey;
    }
    button{
        position: absolute;
        background-color: transparent;
        top: 1vw;
        left: 1vw;
        display: none !important;
    }
}
 
 



// FOOTER

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;

    #left-wrap{
        background-color:rgb(107, 107, 107);
        color: white;

        article{
            margin: 2rem;
        }

        figure{
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
            margin: 2rem;

            img{
                width: 4vw;
            }
        }
    }
    #right-wrap{
        background-color:rgb(120, 134, 138);
        padding: 2rem 1rem;

        form{

            legend{
                color: white;
                font-size: 2rem;
            }
            input{
                background-color: transparent;
                border: 1px solid rgb(185, 207, 212);
                padding: 0.5rem;
                margin: 0.5rem 0;
            }
            #name, #adress, #email, textarea{
                width: 100%;
                background-color: transparent;
                border: 1px solid rgb(185, 207, 212);
            }
            ::placeholder{
                color:rgb(185, 207, 212);
                padding: 0.25rem;
            }
            label{
                color: rgb(185, 207, 212);
            }
            #check{
                margin: 0 34% 0 5%;
            }      
            button{
                width: 100%;
                border: 1px solid rgb(185, 207, 212);
                background-color: rgb(167, 165, 165);
                padding: 0.5rem;
                color: rgb(213, 225, 228);
            }      
        }
    }
}

/////////////////////////////////////////////////////////////////////
////
////                    MEDIA QUERIES
////
///////////////////////////////////////////////////////////////////////


@media screen and (max-width: 800px) {
    nav ul{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(150vw);
      background-color: rgb(85, 202, 248);
      position: absolute;
      right: 0;
      top:8vh;
      height: 50vh;
      width: 100vw;
      transition: transform 800ms cubic-bezier(.47,1.64,.41,.8);
    }

    button{
        display: block !important;
    }
    /* JS-ADDED CLASS */
    .show{
      transform: translateX(0);
    }
}